
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-us-eNb {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 147.8rem;

  .footer-tnj {
    width: 144rem;
    height: 143.9942rem;
    position: absolute;
    left: 0;
    top: 0.0263rem;

    .bg-CYX {
      width: 144rem;
      height: 33.6rem;
      position: absolute;
      left: 0;
      top: 110.3942rem;
      background-color: #ffffff;
    }
    .stay-updated-79h {
      position: absolute;
      left: 99.4rem;
      top: 115.2942rem;
      width: 29.2rem;
      height: 9rem;

      .stay-updated-d83 {
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
      }
      .searchbar-Whd {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;

        .auto-group-soo5-EtX {
          flex-shrink: 0;
          box-sizing: border-box;
          font-weight: 400;
          color: #828282;
          white-space: nowrap;
          background-color: #f4f5f7;
          line-height: 1.5;
          font-family: Gilroy, 'Source Sans Pro';
          margin-right: 0.4rem;
          padding: 1rem 1.2rem 1.1rem 1.2rem;
          width: 24.2rem;
          height: 100%;
          font-size: 1.6rem;
        }
        .auto-group-gxr5-Hbu {
          width: 4.6rem;
          height: 4.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .stay-connected-c8P {
      width: 16.5rem;
      height: 14.9rem;
      position: absolute;
      left: 73.4rem;
      top: 115.2942rem;

      .stay-connected-jTu {
        white-space: nowrap;
        margin-bottom: 1.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Gilroy, 'Source Sans Pro';
      }
      .facebook-roR {
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
      }
      .instagram-CMV {
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
      }
      .twitter-Xef {
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
      }
    }
    .account-4eb {
      top: 115.2942rem;
      width: 8.5rem;
      height: 18.9rem;
      position: absolute;
      left: 56.1rem;

      .account-nqV {
        white-space: nowrap;
        margin-bottom: 1.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Gilroy, 'Source Sans Pro';
      }
      .my-account-7cs {
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
      }
      .checkout-raT {
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
      }
      .my-cart-YiB {
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .my-catalog-HQs {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .menu-Rmy {
      width: 9.8rem;
      height: 22.9rem;
      position: absolute;
      left: 37.8rem;
      top: 115.2942rem;

      .menu-xmu {
        margin-bottom: 1.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
      }
      .products-J55 {
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rooms-qao {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
      }
      .inspirations-BPm {
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .about-us-72X {
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
      }
      .terms-policy-T6P {
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
      }
    }
    .about-AFh {
      top: 0;
      width: 24.8rem;
      height: 138.9942rem;
      position: absolute;
      left: 4.9rem;

      .auto-group-v1gs-69M {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 134.9942rem;
        position: relative;

        .funiro-EFZ {
          height: 3.1rem;
          top: 115.2942rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          font-family: Gilroy, 'Source Sans Pro';
          width: 7.6rem;
          position: absolute;
          left: 0;
          color: #000000;
          white-space: nowrap;
        }
        .worldwide-furniture-store-since-2020-we-sell-over-1000-branded-products-on-our-website-w9y {
          width: 24.8rem;
          height: 7.2rem;
          position: absolute;
          top: 119.7942rem;
          font-weight: 400;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          left: 0;
          font-size: 1.6rem;
        }
        .group-18-D7V {
          height: 130.9942rem;
          position: absolute;
          left: 0.2083rem;
          top: 0;
          width: 21.7917rem;

          .pin-24px-k7R {
            margin-bottom: 128.018rem;
            width: 1.5833rem;
            height: 0.5762rem;
            object-fit: contain;
            vertical-align: top;
          }
          .sawojajar-malang-indonesia-HNF {
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 2.5917rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #606060;
          }
        }
        .group-17-1JF {
          width: 12.7917rem;
          height: 133.6901rem;
          position: absolute;
          left: 0.2083rem;
          top: 1.3041rem;

          .phone-24px-YJB {
            margin-bottom: 130.7895rem;
            width: 1.5833rem;
            height: 0.5006rem;
            object-fit: contain;
            vertical-align: top;
          }
          .item-6289-456-3455-5J7 {
            color: #606060;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 2.5917rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
      .wwwfunirocom-bGT {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #606060;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .vector-2-6yu {
      top: 107.2942rem;
      object-fit: contain;
      vertical-align: top;
      width: 123.7rem;
      height: 0;
      position: absolute;
      left: 4.9rem;
    }
    .btn-SH5 {
      height: 6rem;
      position: absolute;
      font-weight: 600;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      top: 86.1737rem;
      font-family: Open Sans, 'Source Sans Pro';
      justify-content: center;
      width: 16.1rem;
      left: 17.6rem;
      line-height: 1.7000000477;
      color: #ffffff;
      white-space: nowrap;
      background-color: #074a99;
      font-size: 1.6rem;
    }
  }
  .above-the-fold-951 {
    position: absolute;
    top: 0;
    align-items: center;
    box-sizing: border-box;
    height: 77.4rem;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #fcf8f3;
    padding: 4rem 10rem 7.3rem 10rem;
    width: 144rem;

    .top-nav-PEF {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 18.2rem;
      width: 100%;
      height: 4.5rem;

      .auto-group-3syh-iGX {
        box-sizing: border-box;
        padding: 0.8rem 4.9rem 0.6rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .funiro-duH {
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.9rem;
          font-size: 2.4rem;
        }
        .menus-AeK {
          display: flex;
          column-gap: 4.4167rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0.3rem 0rem 0.4rem 0rem;
          height: calc(100% - 0.7rem);

          .menu-gMm {
            align-items: center;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .products-EeB {
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.7167rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .icon-arrow-down-x4P {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0834rem;
              width: 1.1667rem;
              height: 0.5833rem;
            }
          }
          .menu-eC7 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            height: 100%;

            .rooms-CzK {
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.5167rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .icon-arrow-down-Eg7 {
              flex-shrink: 0;
              margin-top: 0.0834rem;
              width: 1.1667rem;
              height: 0.5833rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .inspirations-y7u {
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #3a3a3a;
          }
        }
      }
      .searchbar-6iK {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 12.2622rem;
        box-sizing: border-box;
        padding: 1.2rem 27.2rem 1.2rem 1.533rem;
        height: 100%;

        .icon-search-PxK {
          height: 1.3333rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.533rem 0.1rem 0rem;
          width: 1.3333rem;
        }
        .placeholder-KLB {
          font-weight: 400;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
        }
      }
      .icons-e7Z {
        height: calc(100% - 0.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.3rem 0rem 0.2rem 0rem;

        .auto-group-zzzx-mT5 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.05rem 3.45rem 1.095rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;

          .icon-heart-tnb {
            margin: 0.071rem 3.462rem 0rem 0rem;
            width: 2.0756rem;
            height: 1.7849rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-cart-D4B {
            height: 1.85rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0054rem;
            width: 2.05rem;
          }
        }
        .ellipse-2-wVy {
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:dc1748c7c9a9cc1158ec1f34860b53ee583176b0');
          border-radius: 2rem;
          flex-shrink: 0;
          width: 4rem;
          height: 4rem;
        }
      }
    }
    .about-us-efH {
      white-space: nowrap;
      margin: 0rem 13.5rem 4.1rem 0rem;
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 8rem;
      letter-spacing: -0.2rem;
      color: #000000;
    }
    .the-most-professionall-company-kTR {
      margin: 0rem 51.2rem 13.9rem 0rem;
      text-transform: capitalize;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 300;
      line-height: 1.3;
      letter-spacing: 0.02rem;
      color: #000000;
      font-family: Fira Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .quis-aliqua-sunt-nisi-consectetur-anim-ullamco-ea-ut-deserunt-non-voluptate-nisi-sit-elit-exercitation-eu-lorem-mollit-occaecat-nisi-occaecat-fugiat-ullamco-pariatur-excepteur-qui-dolore-quis-aliqua-sunt-nisi-consectetur-anim-ullamco-ea-quis-aliqua-sunt-nisi-consectetur-anim-ullamco-eaollit-occaecat-nisi-occaecat-fugiat-ullamco-dGK {
      font-weight: 400;
      line-height: 1.7000000477;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 11.8rem;
      max-width: 97rem;
      font-size: 1.6rem;
    }
  }
}
