
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-kym {
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 8.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .above-the-fold-vmm {
    flex-shrink: 0;
    width: 100%;
    height: 77.4rem;
    position: relative;
    background-color: #fcf8f3;

    .rectangle-51-Q4f {
      top: 0;
      background-color: #f8f0e6;
      width: 96.4rem;
      height: 77.4rem;
      position: absolute;
      left: 0;
    }
    .image-gallery-G6s {
      width: 286.6rem;
      height: 62.3rem;
      position: absolute;
      left: 0;
      top: 15.1rem;
      display: flex;
      column-gap: 3.2rem;
      align-items: flex-end;

      .item-2563956-1-ZLs {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 93.4rem;
        height: 55.3rem;
      }
      .images-1-TSF {
        flex-shrink: 0;
        width: 93.4rem;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .auto-group-hnjt-nzK {
          flex-shrink: 0;
          margin: 0rem 0rem 2.2rem 22rem;
          width: calc(100% - 22rem);
          height: 4.8rem;
          display: flex;
          align-items: center;

          .indicator-5yR {
            margin: 1.1rem 49rem 1rem 0rem;
            height: calc(100% - 2.1rem);
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;

            .active-jKD {
              flex-shrink: 0;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
            }
            .ellipse-1-FoM {
              width: 1.1rem;
              height: 1.1rem;
              background-color: #d8d8d8;
              border-radius: 0.55rem;
              flex-shrink: 0;
            }
            .ellipse-2-Y1m {
              width: 1.1rem;
              height: 1.1rem;
              background-color: #d8d8d8;
              border-radius: 0.55rem;
              flex-shrink: 0;
            }
            .ellipse-3-TuR {
              background-color: #d8d8d8;
              border-radius: 0.55rem;
              flex-shrink: 0;
              width: 1.1rem;
              height: 1.1rem;
            }
          }
          .group-22-mQK {
            align-items: center;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .group-13-5vo {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 4.8rem;
              height: 4.8rem;
            }
            .group-21-25M {
              vertical-align: top;
              flex-shrink: 0;
              width: 4.8rem;
              height: 4.8rem;
              object-fit: contain;
            }
          }
        }
        .auto-group-5e5m-iis {
          background-size: 100% 100%;
          box-sizing: border-box;
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:49fc0429c4613af2a4e6c1b94a0bdbbb862009b2');
          flex-shrink: 0;
          padding: 18.427rem 4rem 4rem 60rem;
          height: 55.3rem;

          .info-box-EhD {
            position: relative;
            width: 100%;
            height: 100%;

            .rectangle-49-P4K {
              top: 18.0725rem;
              backdrop-filter: blur(1.55rem);
              background-color: rgba(255, 255, 255, 0.7200000286);
              width: 29.4rem;
              height: 14.8rem;
              position: absolute;
              left: 0;
            }
            .description-ekw {
              left: 2.4rem;
              top: 0;
              width: 14.5rem;
              height: 30.4725rem;
              position: absolute;

              .product-name-M9Z {
                width: 100%;
                height: 4.9247rem;
                position: relative;
                margin-bottom: 22.5479rem;

                .product-name-pYw {
                  height: 3.4rem;
                  position: absolute;
                  top: 0;
                  font-size: 2.8rem;
                  font-weight: 600;
                  line-height: 1.2000000817;
                  width: 10.2rem;
                  color: #3a3a3a;
                  font-family: Gilroy, 'Source Sans Pro';
                  white-space: nowrap;
                  left: 0;
                }
                .sort-description-Fu9 {
                  line-height: 1.5;
                  color: #606060;
                  font-family: Gilroy, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 14.5rem;
                  top: 2.5247rem;
                  left: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  height: 2.4rem;
                  position: absolute;
                }
              }
              .fix-price-YtF {
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .arrow-right-H59 {
              height: 1.164rem;
              position: absolute;
              left: 25.0405rem;
              top: 28.6885rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.5203rem;
            }
          }
        }
      }
      .rectangle-48-taj {
        vertical-align: top;
        flex-shrink: 0;
        width: 93.4rem;
        height: 55.3rem;
        object-fit: cover;
      }
    }
    .top-nav-pDV {
      width: 124rem;
      height: 4.5rem;
      position: absolute;
      left: 10rem;
      top: 4rem;
      display: flex;
      align-items: center;

      .auto-group-wsy3-7TV {
        box-sizing: border-box;
        padding: 0.8rem 4.9rem 0.6rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .funiro-SEs {
          flex-shrink: 0;
          margin-right: 3.9rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .menus-Z4b {
          margin: 0.3rem 0rem 0.4rem 0rem;
          height: calc(100% - 0.7rem);
          display: flex;
          column-gap: 4.4167rem;
          align-items: center;
          flex-shrink: 0;

          .menu-ftK {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .products-daF {
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.7167rem;
              font-size: 1.6rem;
              font-weight: 500;
            }
            .icon-arrow-down-Yx7 {
              width: 1.1667rem;
              height: 0.5833rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0834rem;
            }
          }
          .menu-sUb {
            flex-shrink: 0;
            height: 100%;
            display: flex;
            align-items: center;

            .rooms-S1u {
              flex-shrink: 0;
              margin-right: 1.5167rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
            }
            .icon-arrow-down-ZcK {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0834rem;
              width: 1.1667rem;
              height: 0.5833rem;
            }
          }
          .inspirations-HHR {
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
      }
      .searchbar-oWf {
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 12.2622rem;
        box-sizing: border-box;
        padding: 1.2rem 27.2rem 1.2rem 1.533rem;
        height: 100%;
        display: flex;
        align-items: center;

        .icon-search-vLP {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.533rem 0.1rem 0rem;
          width: 1.3333rem;
          height: 1.3333rem;
        }
        .placeholder-RY3 {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #606060;
        }
      }
      .icons-wWP {
        height: calc(100% - 0.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.3rem 0rem 0.2rem 0rem;

        .auto-group-mn7r-fxB {
          box-sizing: border-box;
          padding: 1.05rem 3.45rem 1.095rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-heart-oHh {
            flex-shrink: 0;
            margin: 0.071rem 3.462rem 0rem 0rem;
            width: 2.0756rem;
            height: 1.7849rem;
            object-fit: contain;
            vertical-align: top;
          }
          .icon-cart-Wxo {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0054rem;
            width: 2.05rem;
            height: 1.85rem;
          }
        }
        .ellipse-2-3Sw {
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:dc1748c7c9a9cc1158ec1f34860b53ee583176b0');
          border-radius: 2rem;
          flex-shrink: 0;
          width: 4rem;
          height: 4rem;
        }
      }
    }
    .hero-content-A1m {
      height: 55.3rem;
      position: absolute;
      top: 14.1rem;
      backdrop-filter: blur(1.55rem);
      background-color: rgba(255, 255, 255, 0.7200000286);
      box-sizing: border-box;
      padding: 6rem;
      width: 49.4rem;
      left: 10rem;

      .content-fz7 {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .auto-group-jdtj-cuM {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 4.8rem;
          width: 100%;

          .high-quality-furniture-just-for-you-xTR {
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            max-width: 35.1rem;
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 1.2000000817;
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
          }
          .our-furniture-is-made-from-selected-and-best-quality-materials-that-are-suitable-for-your-dream-home-eLF {
            color: #898989;
            font-family: Gilroy, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 35.2rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
        .cta-primary-hJX {
          height: 7.8rem;
          font-weight: 600;
          color: #ffffff;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          width: 100%;
          background-color: #e89f71;
          flex-shrink: 0;
          justify-content: center;
          line-height: 1.5;
          font-size: 2rem;
        }
      }
    }
  }
  .feature-LMV {
    margin: 0rem 11.9rem 0rem 10rem;
    width: calc(100% - 21.9rem);
    height: 8.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .group-5-311 {
      margin-right: 11.2rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-mvfr-9Jw {
        margin-right: 0.1rem;
        width: 8.5rem;
        height: 8.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .text-GeT {
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.6rem 0;
        height: calc(100% - 3.2rem);
        display: flex;

        .high-quality-oPV {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.5;
          color: #3a3a3a;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
        .crafted-from-top-materials-j2F {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #898989;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .group-3-3Hq {
      padding: 1.6rem 0rem 1.6rem 2.2rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 10.3rem;
      box-sizing: border-box;

      .guarantee-yBV {
        margin: 0rem 2.4rem 0.1rem 0rem;
        width: 4rem;
        height: 3.875rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .text-Hxs {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .warrany-protection-eYX {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.5;
          color: #3a3a3a;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
        .over-2-years-Amm {
          font-weight: 500;
          line-height: 1.5;
          color: #898989;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
    }
    .group-2-HbV {
      margin-right: 10.2rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-hkhz-dvF {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.3rem;
        width: 8.5rem;
        height: 8.5rem;
        object-fit: contain;
      }
      .text-Ncw {
        margin: 1.6rem 0;
        height: calc(100% - 3.2rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .free-shipping-Wj9 {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.5;
          color: #3a3a3a;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .order-over-150--3j5 {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #898989;
        }
      }
    }
    .group-4-BKV {
      align-items: center;
      flex-shrink: 0;
      height: 100%;
      display: flex;

      .auto-group-qatp-wZZ {
        margin-right: 0.1rem;
        width: 8.5rem;
        height: 8.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .text-GLw {
        margin: 1.6rem 0;
        height: calc(100% - 3.2rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .support-pNT {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.5;
          color: #3a3a3a;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
        .dedicated-support-YJT {
          line-height: 1.5;
          color: #898989;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }
  .auto-group-2pcf-fP5 {
    height: 212.1rem;
    position: relative;
    flex-shrink: 0;
    width: 176.3rem;

    .footer-1C3 {
      width: 144rem;
      height: 115.9634rem;
      position: absolute;
      left: 0;
      top: 96.1366rem;

      .bg-KyR {
        height: 33.6rem;
        position: absolute;
        left: 0;
        top: 82.3634rem;
        background-color: #ffffff;
        width: 144rem;
      }
      .stay-updated-eko {
        width: 29.2rem;
        height: 9rem;
        position: absolute;
        left: 104.4rem;
        top: 87.2634rem;

        .stay-updated-mqR {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
        }
        .searchbar-tv3 {
          width: 100%;
          height: 4.5rem;
          display: flex;
          align-items: center;

          .auto-group-sjn3-3Y3 {
            margin-right: 0.4rem;
            box-sizing: border-box;
            padding: 1rem 1.2rem 1.1rem 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            font-family: Gilroy, 'Source Sans Pro';
            width: 24.2rem;
            height: 100%;
            font-size: 1.6rem;
            color: #828282;
            white-space: nowrap;
            background-color: #f4f5f7;
            flex-shrink: 0;
          }
          .auto-group-v4wk-KVZ {
            height: 4.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 4.6rem;
          }
        }
      }
      .stay-connected-Fu1 {
        width: 16.5rem;
        height: 14.9rem;
        position: absolute;
        left: 78.4rem;
        top: 87.2634rem;

        .stay-connected-yq1 {
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .facebook-hW7 {
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .instagram-F1q {
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .twitter-nGf {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .account-FR9 {
        height: 18.9rem;
        position: absolute;
        left: 61.1rem;
        top: 87.2634rem;
        width: 8.5rem;

        .account-B3u {
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .my-account-iJj {
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .checkout-dwV {
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .my-cart-abq {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
        }
        .my-catalog-WkP {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
        }
      }
      .menu-Tfd {
        left: 42.8rem;
        top: 87.2634rem;
        width: 9.8rem;
        height: 22.9rem;
        position: absolute;

        .menu-PJP {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
        }
        .products-ibZ {
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rooms-rhm {
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
        }
        .inspirations-bfM {
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .about-us-YKh {
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .terms-policy-Ho5 {
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      .about-31Z {
        width: 24.8rem;
        height: 110.9634rem;
        position: absolute;
        left: 9.9rem;
        top: 0;

        .auto-group-a9ap-NJj {
          margin-bottom: 1.6rem;
          width: 100%;
          height: 106.9634rem;
          position: relative;

          .funiro-Jy5 {
            font-weight: 700;
            font-family: Gilroy, 'Source Sans Pro';
            width: 7.6rem;
            height: 3.1rem;
            top: 87.2634rem;
            font-size: 2.4rem;
            line-height: 1.2575;
            color: #000000;
            white-space: nowrap;
            position: absolute;
            left: 0;
          }
          .worldwide-furniture-store-since-2020-we-sell-over-1000-branded-products-on-our-website-1sV {
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #606060;
            font-family: Gilroy, 'Source Sans Pro';
            height: 7.2rem;
            top: 91.7634rem;
            font-weight: 400;
            width: 24.8rem;
          }
          .group-18-gij {
            left: 0.2083rem;
            top: 0;
            width: 21.7917rem;
            height: 102.9634rem;
            position: absolute;

            .pin-24px-Dif {
              margin-bottom: 99.36rem;
              width: 1.5833rem;
              height: 1.2033rem;
              object-fit: contain;
              vertical-align: top;
            }
            .sawojajar-malang-indonesia-9sD {
              white-space: nowrap;
              margin-left: 2.5917rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #606060;
              font-family: Gilroy, 'Source Sans Pro';
            }
          }
          .group-17-dnP {
            left: 0.2083rem;
            top: 2.7406rem;
            width: 12.7917rem;
            height: 104.2228rem;
            position: absolute;

            .phone-24px-xJs {
              margin-bottom: 100.7708rem;
              width: 1.5833rem;
              height: 1.0519rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-6289-456-3455-fUB {
              color: #606060;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 2.5917rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
        .wwwfunirocom-ZpT {
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .vector-2-hvf {
        height: 0;
        position: absolute;
        left: 9.9rem;
        top: 79.2634rem;
        object-fit: contain;
        vertical-align: top;
        width: 123.7rem;
      }
    }
    .inspirations-Rrf {
      top: 112.8rem;
      left: 0;
      padding: 4.4rem 0rem 4.4rem 10rem;
      width: 176rem;
      height: 67rem;
      position: absolute;
      display: flex;
      align-items: center;
      background-color: #fbf7f3;
      box-sizing: border-box;

      .auto-group-v7fd-tET {
        width: 36.2rem;
        height: calc(100% - 35.8rem);
        flex-shrink: 0;
        margin: 17.9rem 10.2rem 17.9rem 0rem;

        .title-Ckw {
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .title-9AP {
            font-weight: 700;
            line-height: 1.2;
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            max-width: 36.2rem;
            font-size: 4rem;
          }
          .subtitle-Dg3 {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #606060;
            font-family: Gilroy, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 36.2rem;
          }
        }
        .cta-MGT {
          font-family: Gilroy, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          width: 17.6rem;
          height: 4.8rem;
          font-size: 1.6rem;
          font-weight: 600;
          background-color: #e89f71;
        }
      }
      .products-dUs {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .image-ncf {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: flex-end;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          box-sizing: border-box;
          padding: 42.8rem 11.5rem 2.4rem 2.4rem;
          background-image: url('REPLACE_IMAGE:f89a66d94961c3801f4c07439f27b13468e5e545');

          .content-WoZ {
            display: flex;
            flex-direction: column;
            backdrop-filter: blur(1.6rem);
            flex-shrink: 0;
            width: 21.7rem;
            padding: 3.2rem 4.5rem 3.2rem 3.2rem;
            height: 100%;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.7200000286);
            box-sizing: border-box;

            .frame-3-RvX {
              column-gap: 0.8rem;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 1.2rem 0.8rem 0rem;
              display: flex;

              .item-01-ZWw {
                line-height: 1.5;
                color: #606060;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
              }
              .vector-1-hd9 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2.7rem;
                height: 0;
              }
              .bed-room-3h1 {
                color: #606060;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
              }
            }
            .inner-peace-awq {
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 1.2000000817;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .cta-6QP {
            width: 4.8rem;
            height: 4.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-zvsh-pLP {
          box-sizing: border-box;
          padding-left: 2.4rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-g8aj-9dZ {
            margin-right: 0.3rem;
            width: 39.3rem;
            flex-shrink: 0;

            .auto-group-1faf-hQB {
              margin-bottom: 4rem;
              width: 100%;
              height: 48.6rem;
              position: relative;

              .rectangle-25-FRh {
                object-fit: cover;
                vertical-align: top;
                width: 37.2rem;
                height: 48.6rem;
                position: absolute;
                left: 0;
                top: 0;
              }
              .group-13-nRd {
                vertical-align: top;
                width: 4.8rem;
                height: 4.8rem;
                position: absolute;
                left: 34.5rem;
                top: 26.7rem;
                object-fit: contain;
              }
            }
            .indicator-7io {
              display: flex;
              column-gap: 2rem;
              align-items: center;

              .active-RjV {
                width: 2.7rem;
                height: 2.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .ellipse-1-NPq {
                width: 1.1rem;
                height: 1.1rem;
                background-color: #d8d8d8;
                border-radius: 0.55rem;
                flex-shrink: 0;
              }
              .ellipse-2-JYP {
                background-color: #d8d8d8;
                border-radius: 0.55rem;
                flex-shrink: 0;
                width: 1.1rem;
                height: 1.1rem;
              }
              .ellipse-3-3F5 {
                width: 1.1rem;
                height: 1.1rem;
                background-color: #d8d8d8;
                border-radius: 0.55rem;
                flex-shrink: 0;
              }
            }
          }
          .rectangle-26-B6P {
            width: 37.2rem;
            height: 48.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .our-products-JB1 {
      left: 10rem;
      row-gap: 3.2rem;
      align-items: center;
      display: flex;
      width: 123.6rem;
      height: 108.4rem;
      flex-direction: column;
      position: absolute;
      top: 0;

      .title-otT {
        margin-left: 0.5rem;
        font-size: 4rem;
        color: #3a3a3a;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 700;
        line-height: 1.2;
      }
      .frame-7-jGK {
        width: 100%;
        height: 44.6rem;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;
        flex-shrink: 0;

        .featured-products-sNX {
          position: relative;
          flex-shrink: 0;
          width: 28.5rem;
          height: 100%;

          .bg-cb1 {
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
          }
          .description-kx7 {
            top: 31.7rem;
            width: 22.5rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;

            .product-name-TrX {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-DKu {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
              }
              .sort-description-LvK {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-6-gUP {
              width: 100%;
              display: flex;
              align-items: center;

              .fix-price-F1h {
                flex-shrink: 0;
                margin-right: 3rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
              }
              .fix-price-Bg3 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: line-through;
                color: #b0b0b0;
                font-family: Gilroy, 'Source Sans Pro';
              }
            }
          }
          .images-vNj {
            top: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:208499f37c62fb49f7d4a1a6a5dc5959b40150ed');
            left: 0;
            height: 30.1rem;
            position: absolute;
            background-size: 100% 100%;
            width: 28.5rem;

            .image-2-pj1 {
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.4rem;
              height: 30.1rem;
              position: absolute;
              left: 0.1rem;
            }
            .image-1-x4X {
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .discount-Vq9 {
              color: #ffffff;
              font-family: Gilroy, 'Source Sans Pro';
              display: flex;
              width: 4.8rem;
              top: 2.4rem;
              font-weight: 500;
              line-height: 1.5;
              background-color: #e97171;
              border-radius: 2.4rem;
              white-space: nowrap;
              height: 4.8rem;
              position: absolute;
              font-size: 1.6rem;
              left: 21.3rem;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .featured-products-2yV {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-NnT {
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
          }
          .description-6Cf {
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;
            width: 22.5rem;

            .product-name-E3y {
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;

              .product-name-add {
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .sort-description-4Yo {
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
              }
            }
            .frame-6-Pqy {
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .images-j99 {
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:208499f37c62fb49f7d4a1a6a5dc5959b40150ed');
            height: 30.1rem;
            left: 0;
            top: 0;
            background-repeat: no-repeat;
            width: 28.5rem;
            position: absolute;

            .image-2-fHh {
              left: 0.1rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.4rem;
              height: 30.1rem;
              position: absolute;
            }
            .discount-o91 {
              width: 4.8rem;
              font-weight: 500;
              justify-content: center;
              border-radius: 2.4rem;
              height: 4.8rem;
              top: 2.4rem;
              white-space: nowrap;
              display: flex;
              color: #ffffff;
              font-family: Gilroy, 'Source Sans Pro';
              align-items: center;
              background-color: #e97171;
              position: absolute;
              left: 21.3rem;
              font-size: 1.6rem;
              line-height: 1.5;
            }
          }
          .pop-up-mEF {
            width: 28.5rem;
            height: 44.6rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(58, 58, 58, 0.7200000286);
            box-sizing: border-box;
            padding: 17.5rem 4.1rem 17.5rem 4.2rem;

            .button-t3y {
              flex-direction: column;
              width: 100%;
              height: 100%;
              align-items: center;
              display: flex;

              .cta-dGT {
                justify-content: center;
                background-color: #ffffff;
                margin-bottom: 2.4rem;
                height: 4.8rem;
                line-height: 1.5;
                align-items: center;
                width: 100%;
                font-size: 1.6rem;
                display: flex;
                font-weight: 600;
                color: #e89f71;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .frame-5-tCP {
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 0.5rem 0rem 1.3rem;
                width: calc(100% - 1.8rem);
                height: 2.4rem;
                display: flex;

                .group-11-bsV {
                  margin-right: 5.2622rem;
                  box-sizing: border-box;
                  padding-left: 0.3rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .gridicons-share-98K {
                    width: 1.8rem;
                    height: 2rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 1.1rem 0rem 0rem;
                  }
                  .share-cnb {
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Gilroy, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .group-10-MVH {
                  flex-shrink: 0;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .heart-Upo {
                    margin: 0.026rem 0.962rem 0rem 0rem;
                    width: 2.0756rem;
                    height: 1.7849rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .like-CVu {
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Gilroy, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
        .featured-products-7cs {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-s6F {
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
          }
          .description-Qrs {
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;
            width: 23rem;
            height: 9.9rem;

            .product-name-9Jf {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-6Uo {
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .sort-description-oe7 {
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
              }
            }
            .frame-6-Y5u {
              width: 100%;
              display: flex;
              align-items: center;

              .fix-price-Vmq {
                margin-right: 2.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .fix-price-3HZ {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: line-through;
                color: #b0b0b0;
                font-family: Gilroy, 'Source Sans Pro';
              }
            }
          }
          .images-nF9 {
            padding: 2.4rem 2.4rem 2.4rem 21.3rem;
            height: 30.1rem;
            background-image: url('REPLACE_IMAGE:208499f37c62fb49f7d4a1a6a5dc5959b40150ed');
            box-sizing: border-box;
            width: 28.5rem;
            position: absolute;
            left: 0;
            top: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;

            .discount-VQT {
              justify-content: center;
              height: 4.8rem;
              align-items: center;
              font-family: Gilroy, 'Source Sans Pro';
              display: flex;
              margin-bottom: 20.5rem;
              color: #ffffff;
              border-radius: 2.4rem;
              line-height: 1.5;
              background-color: #e97171;
              font-weight: 500;
              white-space: nowrap;
              width: 100%;
              font-size: 1.6rem;
            }
          }
        }
        .featured-products-sR1 {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-QA3 {
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
          }
          .description-LJb {
            width: 23.3rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-s3d {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-1vX {
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
              }
              .sort-description-WMV {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-6-eTh {
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
            }
          }
          .images-BTd {
            width: 28.5rem;
            position: absolute;
            height: 30.1rem;
            left: 0;
            top: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:b149c7bb61fda449be51835298d4949489bb48ca');
          }
        }
      }
      .frame-8-cJ3 {
        column-gap: 3.2rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 44.6rem;
        display: flex;

        .featured-products-k9M {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-Hf5 {
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
          }
          .description-pf1 {
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;
            width: 22.5rem;

            .product-name-Z6o {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-6sR {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
              }
              .sort-description-PrX {
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .frame-6-Jib {
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
            }
          }
          .images-Daf {
            width: 28.5rem;
            position: absolute;
            left: 0;
            top: 0;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:I29:231;29:50');
            box-sizing: border-box;
            padding: 2.4rem 2.4rem 2.4rem 21.3rem;
            height: 30.1rem;
            background-repeat: no-repeat;
            background-position: center;

            .discount-fBm {
              margin-bottom: 20.5rem;
              font-size: 1.6rem;
              white-space: nowrap;
              justify-content: center;
              line-height: 1.5;
              color: #ffffff;
              font-family: Gilroy, 'Source Sans Pro';
              display: flex;
              align-items: center;
              width: 100%;
              height: 4.8rem;
              font-weight: 500;
              border-radius: 2.4rem;
              background-color: #e97171;
            }
          }
        }
        .featured-products-C5D {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 28.5rem;

          .bg-w2o {
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
          }
          .description-UHd {
            left: 1.6rem;
            top: 31.7rem;
            width: 22.5rem;
            height: 9.9rem;
            position: absolute;

            .product-name-CjR {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-McK {
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
              }
              .sort-description-VTd {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-6-oz7 {
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .images-MEw {
            top: 0;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:3c0a6c983f9e66e49766034d57360d64e957ff6a');
            width: 28.5rem;
            height: 30.1rem;
            position: absolute;
            left: 0;
            background-repeat: no-repeat;
          }
        }
        .featured-products-JJb {
          position: relative;
          flex-shrink: 0;
          width: 28.5rem;
          height: 100%;

          .bg-SQo {
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
          }
          .description-ZkK {
            width: 23rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-6kF {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-8B9 {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
              }
              .sort-description-TUK {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-6-baX {
              width: 100%;
              display: flex;
              align-items: center;

              .fix-price-wuH {
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
              }
              .fix-price-VA7 {
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: line-through;
                color: #b0b0b0;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
          }
          .images-Dbu {
            top: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:b67dedd59765b31b26fb533b95b7b43e636201e6');
            padding: 2.4rem 2.4rem 2.4rem 21.3rem;
            width: 28.5rem;
            height: 30.1rem;
            position: absolute;
            left: 0;
            background-position: center;
            box-sizing: border-box;

            .discount-j4T {
              align-items: center;
              background-color: #e97171;
              width: 100%;
              height: 4.8rem;
              font-weight: 500;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 20.5rem;
              line-height: 1.5;
              color: #ffffff;
              justify-content: center;
              border-radius: 2.4rem;
              display: flex;
              font-size: 1.6rem;
            }
          }
        }
        .featured-products-WzK {
          position: relative;
          flex-shrink: 0;
          width: 28.5rem;
          height: 100%;

          .bg-2Ss {
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
          }
          .description-xbR {
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;
            width: 23.3rem;

            .product-name-rwh {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-1pb {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
              }
              .sort-description-Lrs {
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
              }
            }
            .frame-6-GEj {
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .images-ZzX {
            top: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:01eefd24a8aa07432237436878715846cd38a35f');
            width: 28.5rem;
            height: 30.1rem;
            position: absolute;
            left: 0;
            background-size: 100% 100%;
          }
        }
      }
      .show-more-Gtw {
        box-sizing: border-box;
        background-color: #ffffff;
        width: calc(100% - 99.1rem);
        height: 4.8rem;
        font-weight: 600;
        color: #e89f71;
        white-space: nowrap;
        margin: 0rem 49.5rem 0rem 49.6rem;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        border: solid 0.1rem #e89f71;
        flex-shrink: 0;
        font-family: Gilroy, 'Source Sans Pro';
      }
    }
  }
}
