
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.products-8WT {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .above-the-fold-ymy {
    height: 18.2rem;
    background-color: #fcf8f3;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.9406rem 10rem;
    width: 100%;

    .top-nav-Uyd {
      width: 100%;
      height: 4.0705rem;
      display: flex;
      align-items: flex-start;

      .funiro-ca3 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.188rem 3.9rem 0rem 0rem;
      }
      .menus-4wq {
        margin: 0.259rem 4.9rem 0rem 0rem;
        height: 2.4rem;
        display: flex;
        column-gap: 4.4167rem;
        align-items: center;
        flex-shrink: 0;

        .menu-k3y {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .products-6dd {
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.7167rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #3a3a3a;
          }
          .icon-arrow-down-crs {
            width: 1.1667rem;
            height: 0.5833rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0834rem;
          }
        }
        .menu-rWK {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rooms-ckP {
            flex-shrink: 0;
            margin-right: 1.5167rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icon-arrow-down-MCB {
            margin-top: 0.0834rem;
            width: 1.1667rem;
            height: 0.5833rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .inspirations-sAX {
          color: #3a3a3a;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .searchbar-CCo {
        position: relative;
        flex-shrink: 0;
        margin-right: 12.2622rem;
        width: 47.3rem;
        height: 2.3822rem;

        .rectangle-2-WjH {
          top: 0;
          background-color: #ffffff;
          width: 47.3rem;
          height: 1.0581rem;
          position: absolute;
          left: 0;
        }
        .placeholder-SN3 {
          width: 15.7rem;
          position: absolute;
          left: 4.4rem;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.1rem;
          top: 0.2822rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .icon-search-XuH {
          position: absolute;
          left: 1.5333rem;
          top: 0.3606rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.3333rem;
          height: 0.3135rem;
        }
      }
      .icons-4PR {
        height: 4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-top: 0.0705rem;

        .auto-group-tsrm-AST {
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.05rem 3.45rem 1.095rem 0rem;
          height: 100%;
          display: flex;

          .icon-heart-5pK {
            margin: 0.071rem 3.462rem 0rem 0rem;
            width: 2.0756rem;
            height: 1.7849rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-cart-c3Z {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0054rem;
            width: 2.05rem;
            height: 1.85rem;
            position: relative;
            object-fit: contain;
          }
        }
        .ellipse-2-YC7 {
          background-image: url('REPLACE_IMAGE:dc1748c7c9a9cc1158ec1f34860b53ee583176b0');
          border-radius: 2rem;
          flex-shrink: 0;
          width: 4rem;
          height: 4rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  .auto-group-2uf5-S2b {
    height: 228.0187rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 4.2rem;
    width: calc(100% - 4.2rem);

    .footer-y2X {
      top: 84.0417rem;
      width: 144rem;
      height: 143.9771rem;
      position: absolute;
      left: 0;

      .bg-679 {
        position: absolute;
        left: 0;
        top: 110.3771rem;
        background-color: #ffffff;
        width: 144rem;
        height: 33.6rem;
      }
      .stay-updated-oGT {
        width: 29.2rem;
        height: 9rem;
        position: absolute;
        left: 100.5rem;
        top: 115.2771rem;

        .stay-updated-L1V {
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .searchbar-T67 {
          align-items: center;
          width: 100%;
          height: 4.5rem;
          display: flex;

          .auto-group-8bax-zrj {
            height: 100%;
            font-size: 1.6rem;
            font-family: Gilroy, 'Source Sans Pro';
            padding: 1rem 1.2rem 1.1rem 1.2rem;
            box-sizing: border-box;
            width: 24.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #828282;
            white-space: nowrap;
            background-color: #f4f5f7;
            margin-right: 0.4rem;
            flex-shrink: 0;
          }
          .auto-group-avth-q6f {
            width: 4.6rem;
            height: 4.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .stay-connected-ZoM {
        width: 16.5rem;
        height: 14.9rem;
        position: absolute;
        left: 74.5rem;
        top: 115.2771rem;

        .stay-connected-taj {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
        }
        .facebook-E8o {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
        }
        .instagram-Ao9 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
        }
        .twitter-ho5 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .account-3c3 {
        width: 8.5rem;
        height: 18.9rem;
        position: absolute;
        left: 57.2rem;
        top: 115.2771rem;

        .account-AwZ {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
        }
        .my-account-5Yj {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
        }
        .checkout-2D5 {
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .my-cart-MWF {
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .my-catalog-6Cw {
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      .menu-bvP {
        top: 115.2771rem;
        width: 9.8rem;
        height: 22.9rem;
        position: absolute;
        left: 38.9rem;

        .menu-8QX {
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
        }
        .products-UDV {
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .rooms-PrF {
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .inspirations-LmV {
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
        }
        .about-us-gqM {
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .terms-policy-pAs {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .about-xH5 {
        width: 24.8rem;
        height: 138.9771rem;
        position: absolute;
        left: 6rem;
        top: 0;

        .auto-group-eagf-Vno {
          margin-bottom: 1.6rem;
          width: 100%;
          height: 134.9771rem;
          position: relative;

          .funiro-du1 {
            color: #000000;
            font-family: Gilroy, 'Source Sans Pro';
            width: 7.6rem;
            height: 3.1rem;
            position: absolute;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2575;
            left: 0;
            top: 115.2771rem;
            white-space: nowrap;
          }
          .worldwide-furniture-store-since-2020-we-sell-over-1000-branded-products-on-our-website-kCw {
            color: #606060;
            font-family: Gilroy, 'Source Sans Pro';
            height: 7.2rem;
            left: 0;
            font-size: 1.6rem;
            font-weight: 400;
            width: 24.8rem;
            position: absolute;
            top: 119.7771rem;
            line-height: 1.5;
          }
          .group-18-zsy {
            width: 21.7917rem;
            height: 130.9771rem;
            position: absolute;
            left: 0.2083rem;
            top: 0;

            .pin-24px-hXV {
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 127.6301rem;
              width: 1.5833rem;
              height: 0.947rem;
            }
            .sawojajar-malang-indonesia-EGX {
              font-weight: 400;
              line-height: 1.5;
              color: #606060;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 2.5917rem;
              font-size: 1.6rem;
            }
          }
          .group-17-9eP {
            width: 12.7917rem;
            height: 132.8259rem;
            position: absolute;
            left: 0.2083rem;
            top: 2.1512rem;

            .phone-24px-HEo {
              margin-bottom: 129.6002rem;
              width: 1.5833rem;
              height: 0.8257rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-6289-456-3455-cH5 {
              line-height: 1.5;
              color: #606060;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 2.5917rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
        }
        .wwwfunirocom-KhH {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #606060;
        }
      }
      .vector-2-sD1 {
        left: 6rem;
        top: 107.2771rem;
        object-fit: contain;
        vertical-align: top;
        width: 123.7rem;
        height: 0;
        position: absolute;
      }
    }
    .our-products-zYX {
      left: 8.4rem;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 123.6rem;
      height: 177.6rem;
      position: absolute;

      .title-ijR {
        font-weight: 700;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 4rem;
        color: #3a3a3a;
        font-family: Gilroy, 'Source Sans Pro';
        margin: 0rem 0rem 3.2rem 0.5rem;
        line-height: 1.2;
      }
      .frame-7-Dw5 {
        margin-bottom: 3.2rem;
        width: 100%;
        height: 44.6rem;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;
        flex-shrink: 0;

        .featured-products-kg7 {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-F75 {
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
          }
          .description-af9 {
            width: 22.5rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-WYo {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-Tiw {
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
              }
              .sort-description-zD5 {
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
              }
            }
            .frame-6-vcX {
              align-items: center;
              width: 100%;
              display: flex;

              .fix-price-sGs {
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 3rem;
                font-size: 2rem;
                font-weight: 600;
              }
              .fix-price-bif {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: line-through;
                color: #b0b0b0;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .images-jZy {
            left: 0;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:208499f37c62fb49f7d4a1a6a5dc5959b40150ed');
            width: 28.5rem;
            height: 30.1rem;
            position: absolute;
            top: 0;
            background-repeat: no-repeat;
            background-position: center;

            .image-2-eS3 {
              vertical-align: top;
              width: 28.4rem;
              height: 30.1rem;
              position: absolute;
              left: 0.1rem;
              top: 0;
              object-fit: cover;
            }
            .image-1-mFm {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.5rem;
              height: 30.1rem;
            }
            .discount-tbH {
              height: 4.8rem;
              position: absolute;
              font-family: Gilroy, 'Source Sans Pro';
              display: flex;
              border-radius: 2.4rem;
              top: 2.4rem;
              font-weight: 500;
              color: #ffffff;
              white-space: nowrap;
              background-color: #e97171;
              left: 21.3rem;
              font-size: 1.6rem;
              align-items: center;
              justify-content: center;
              width: 4.8rem;
              line-height: 1.5;
            }
          }
        }
        .featured-products-SWK {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-b8K {
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
          }
          .description-jVR {
            width: 22.5rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-53V {
              flex-direction: column;
              margin-bottom: 0.8rem;
              display: flex;

              .product-name-pmm {
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
              }
              .sort-description-Aaj {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-6-7F5 {
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
            }
          }
          .images-E4o {
            height: 30.1rem;
            position: absolute;
            top: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 28.5rem;
            left: 0;
            background-position: center;
            background-image: url('REPLACE_IMAGE:208499f37c62fb49f7d4a1a6a5dc5959b40150ed');

            .image-2-AUF {
              width: 28.4rem;
              height: 30.1rem;
              position: absolute;
              left: 0.1rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .discount-6co {
              top: 2.4rem;
              font-weight: 500;
              white-space: nowrap;
              border-radius: 2.4rem;
              height: 4.8rem;
              position: absolute;
              left: 21.3rem;
              line-height: 1.5;
              align-items: center;
              justify-content: center;
              background-color: #e97171;
              width: 4.8rem;
              font-size: 1.6rem;
              color: #ffffff;
              font-family: Gilroy, 'Source Sans Pro';
              display: flex;
            }
          }
          .pop-up-Fu1 {
            box-sizing: border-box;
            padding: 17.5rem 4.1rem 17.5rem 4.2rem;
            width: 28.5rem;
            height: 44.6rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(58, 58, 58, 0.7200000286);

            .button-k55 {
              width: 100%;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .cta-6ej {
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
                height: 4.8rem;
                font-weight: 600;
                color: #e89f71;
                font-family: Gilroy, 'Source Sans Pro';
                display: flex;
                margin-bottom: 2.4rem;
                font-size: 1.6rem;
                line-height: 1.5;
                white-space: nowrap;
                width: 100%;
              }
              .frame-5-a47 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 0.5rem 0rem 1.3rem;
                width: calc(100% - 1.8rem);
                height: 2.4rem;

                .group-11-gN3 {
                  flex-shrink: 0;
                  margin-right: 5.2622rem;
                  box-sizing: border-box;
                  padding-left: 0.3rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .gridicons-share-RKd {
                    width: 1.8rem;
                    height: 2rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 1.1rem 0rem 0rem;
                  }
                  .share-8jq {
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Gilroy, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .group-10-TGK {
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  height: 100%;

                  .heart-1od {
                    margin: 0.026rem 0.962rem 0rem 0rem;
                    width: 2.0756rem;
                    height: 1.7849rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .like-Lqu {
                    line-height: 1.5;
                    color: #ffffff;
                    font-family: Gilroy, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
        .featured-products-TvX {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-1h9 {
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
          }
          .description-LDd {
            width: 23rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-GNB {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-1qZ {
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
              }
              .sort-description-MPd {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
              }
            }
            .frame-6-66K {
              width: 100%;
              display: flex;
              align-items: center;

              .fix-price-ETR {
                flex-shrink: 0;
                margin-right: 2.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
              }
              .fix-price-ZEo {
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: line-through;
                color: #b0b0b0;
              }
            }
          }
          .images-Tqy {
            position: absolute;
            left: 0;
            top: 0;
            background-size: 100% 100%;
            height: 30.1rem;
            padding: 2.4rem 2.4rem 2.4rem 21.3rem;
            width: 28.5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:208499f37c62fb49f7d4a1a6a5dc5959b40150ed');
            box-sizing: border-box;

            .discount-joV {
              justify-content: center;
              border-radius: 2.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              display: flex;
              align-items: center;
              width: 100%;
              height: 4.8rem;
              font-family: Gilroy, 'Source Sans Pro';
              background-color: #e97171;
              margin-bottom: 20.5rem;
              font-size: 1.6rem;
              white-space: nowrap;
            }
          }
        }
        .featured-products-wuZ {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 28.5rem;

          .bg-h83 {
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
          }
          .description-SLX {
            width: 23.3rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-8z3 {
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;

              .product-name-gEs {
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
              }
              .sort-description-QwZ {
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .frame-6-m1R {
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
            }
          }
          .images-HkT {
            width: 28.5rem;
            height: 30.1rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:b149c7bb61fda449be51835298d4949489bb48ca');
            position: absolute;
            left: 0;
            top: 0;
            background-size: 100% 100%;
            background-position: center;
          }
        }
      }
      .frame-8-AJT {
        flex-shrink: 0;
        margin-bottom: 72.4rem;
        width: 100%;
        height: 44.6rem;
        display: flex;
        column-gap: 3.2rem;
        align-items: center;

        .featured-products-h3V {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-qfV {
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
          }
          .description-PBD {
            top: 31.7rem;
            width: 22.5rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;

            .product-name-X2X {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-H1h {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
              }
              .sort-description-Q6K {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-6-ish {
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .images-f2F {
            position: absolute;
            left: 0;
            top: 0;
            background-repeat: no-repeat;
            background-position: center;
            width: 28.5rem;
            padding: 2.4rem 2.4rem 2.4rem 21.3rem;
            height: 30.1rem;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:I466:400;29:50');
            box-sizing: border-box;

            .discount-crb {
              margin-bottom: 20.5rem;
              line-height: 1.5;
              font-family: Gilroy, 'Source Sans Pro';
              justify-content: center;
              height: 4.8rem;
              background-color: #e97171;
              color: #ffffff;
              white-space: nowrap;
              display: flex;
              align-items: center;
              border-radius: 2.4rem;
              width: 100%;
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
        }
        .featured-products-Cpo {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 28.5rem;

          .bg-x3H {
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
          }
          .description-69V {
            width: 22.5rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-pbH {
              flex-direction: column;
              margin-bottom: 0.8rem;
              display: flex;

              .product-name-Nsh {
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
              }
              .sort-description-7qH {
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-6-Tu9 {
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
            }
          }
          .images-bkT {
            width: 28.5rem;
            left: 0;
            background-size: 100% 100%;
            height: 30.1rem;
            position: absolute;
            top: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:3c0a6c983f9e66e49766034d57360d64e957ff6a');
          }
        }
        .featured-products-EYX {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 28.5rem;

          .bg-asH {
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
          }
          .description-XGj {
            top: 31.7rem;
            width: 23rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;

            .product-name-f83 {
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;

              .product-name-QrK {
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
              }
              .sort-description-MWf {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-6-6DM {
              align-items: center;
              width: 100%;
              display: flex;

              .fix-price-qRq {
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.7rem;
                font-size: 2rem;
                font-weight: 600;
              }
              .fix-price-n6B {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: line-through;
                color: #b0b0b0;
                font-family: Gilroy, 'Source Sans Pro';
              }
            }
          }
          .images-Hod {
            height: 30.1rem;
            position: absolute;
            left: 0;
            background-size: 100% 100%;
            width: 28.5rem;
            padding: 2.4rem 2.4rem 2.4rem 21.3rem;
            top: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:b67dedd59765b31b26fb533b95b7b43e636201e6');
            box-sizing: border-box;

            .discount-bpK {
              height: 4.8rem;
              white-space: nowrap;
              align-items: center;
              border-radius: 2.4rem;
              font-weight: 500;
              font-family: Gilroy, 'Source Sans Pro';
              display: flex;
              justify-content: center;
              margin-bottom: 20.5rem;
              width: 100%;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #ffffff;
              background-color: #e97171;
            }
          }
        }
        .featured-products-pSB {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-m6X {
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
          }
          .description-WZu {
            top: 31.7rem;
            width: 23.3rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;

            .product-name-eAK {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-Ptb {
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
              }
              .sort-description-wQK {
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
              }
            }
            .frame-6-gsh {
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
            }
          }
          .images-2As {
            height: 30.1rem;
            position: absolute;
            left: 0;
            width: 28.5rem;
            top: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:01eefd24a8aa07432237436878715846cd38a35f');
          }
        }
      }
      .show-more-LBZ {
        color: #e89f71;
        font-family: Gilroy, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        margin: 0rem 56.5rem 0rem 42.6rem;
        height: 4.8rem;
        font-size: 1.6rem;
        line-height: 1.5;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: calc(100% - 99.1rem);
        background-color: #ffffff;
        flex-shrink: 0;
        font-weight: 600;
        border: solid 0.1rem #e89f71;
      }
    }
    .frame-8-Pfd {
      left: 6.8rem;
      top: 117.5rem;
      display: flex;
      column-gap: 3.2rem;
      align-items: center;
      width: 123.6rem;
      height: 44.6rem;
      position: absolute;

      .featured-products-GzK {
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-DuZ {
          position: absolute;
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
          width: 28.5rem;
          height: 14.5rem;
        }
        .description-x6T {
          width: 22.5rem;
          height: 9.9rem;
          position: absolute;
          left: 1.6rem;
          top: 31.7rem;

          .product-name-tF1 {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.8rem;

            .product-name-EJs {
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
            }
            .sort-description-Zrw {
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .frame-6-7dZ {
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .images-ETH {
          box-sizing: border-box;
          width: 28.5rem;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:I466:1379;29:50');
          padding: 2.4rem 2.4rem 2.4rem 21.3rem;
          height: 30.1rem;
          position: absolute;
          left: 0;
          top: 0;
          background-size: cover;

          .discount-XxB {
            font-weight: 500;
            align-items: center;
            justify-content: center;
            display: flex;
            background-color: #e97171;
            border-radius: 2.4rem;
            margin-bottom: 20.5rem;
            height: 4.8rem;
            font-size: 1.6rem;
            color: #ffffff;
            font-family: Gilroy, 'Source Sans Pro';
            width: 100%;
            line-height: 1.5;
            white-space: nowrap;
          }
        }
      }
      .featured-products-k4F {
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-J5m {
          position: absolute;
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
          width: 28.5rem;
          height: 14.5rem;
        }
        .description-ddq {
          top: 31.7rem;
          width: 22.5rem;
          height: 9.9rem;
          position: absolute;
          left: 1.6rem;

          .product-name-mEF {
            margin-bottom: 0.8rem;
            display: flex;
            flex-direction: column;

            .product-name-hNo {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
            }
            .sort-description-EtX {
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .frame-6-nQF {
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #3a3a3a;
          }
        }
        .images-j4b {
          background-image: url('REPLACE_IMAGE:3c0a6c983f9e66e49766034d57360d64e957ff6a');
          top: 0;
          background-position: center;
          position: absolute;
          left: 0;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          width: 28.5rem;
          height: 30.1rem;
        }
      }
      .featured-products-ab1 {
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-86j {
          width: 28.5rem;
          height: 14.5rem;
          position: absolute;
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
        }
        .description-e55 {
          width: 23rem;
          height: 9.9rem;
          position: absolute;
          left: 1.6rem;
          top: 31.7rem;

          .product-name-yd9 {
            margin-bottom: 0.8rem;
            display: flex;
            flex-direction: column;

            .product-name-w4B {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
            }
            .sort-description-5AP {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .frame-6-DnP {
            width: 100%;
            display: flex;
            align-items: center;

            .fix-price-Ypf {
              margin-right: 2.7rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .fix-price-w67 {
              color: #b0b0b0;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              text-decoration-line: line-through;
            }
          }
        }
        .images-skT {
          padding: 2.4rem 2.4rem 2.4rem 21.3rem;
          width: 28.5rem;
          left: 0;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:b67dedd59765b31b26fb533b95b7b43e636201e6');
          box-sizing: border-box;
          height: 30.1rem;
          position: absolute;
          top: 0;
          background-size: 100% 100%;
          background-position: center;

          .discount-8wH {
            color: #ffffff;
            line-height: 1.5;
            font-weight: 500;
            height: 4.8rem;
            width: 100%;
            font-size: 1.6rem;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20.5rem;
            border-radius: 2.4rem;
            background-color: #e97171;
          }
        }
      }
      .featured-products-nW3 {
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-LXZ {
          width: 28.5rem;
          height: 14.5rem;
          position: absolute;
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
        }
        .description-snP {
          position: absolute;
          left: 1.6rem;
          top: 31.7rem;
          width: 23.3rem;
          height: 9.9rem;

          .product-name-QnK {
            margin-bottom: 0.8rem;
            display: flex;
            flex-direction: column;

            .product-name-AmV {
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 2.4rem;
              font-weight: 600;
            }
            .sort-description-iHD {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .frame-6-rPR {
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .images-bbu {
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:01eefd24a8aa07432237436878715846cd38a35f');
          width: 28.5rem;
          height: 30.1rem;
          position: absolute;
          left: 0;
          top: 0;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
