
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.special-products-hJ7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-bzk7-XY3 {
    margin-bottom: 14rem;
    width: 100%;
    height: 85.6rem;
    position: relative;
    flex-shrink: 0;

    .above-the-fold-cZV {
      width: 144rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      background-color: #fcf8f3;
      box-sizing: border-box;
      padding: 4rem 10rem 48rem 10rem;
      height: 77.4rem;
      align-items: center;
      flex-direction: column;

      .top-nav-Ge3 {
        flex-shrink: 0;
        margin-bottom: 16.1rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;

        .auto-group-rcrb-QET {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 4.9rem 0.6rem 0rem;
          height: 100%;
          display: flex;
          align-items: center;

          .funiro-XK5 {
            line-height: 1.2575;
            color: #000000;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.9rem;
            font-size: 2.4rem;
            font-weight: 700;
          }
          .menus-cbR {
            flex-shrink: 0;
            margin: 0.3rem 0rem 0.4rem 0rem;
            height: calc(100% - 0.7rem);
            display: flex;
            column-gap: 4.4167rem;
            align-items: center;

            .menu-8Js {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .products-g5V {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.7167rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
              }
              .icon-arrow-down-QGP {
                height: 0.5833rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.0834rem;
                width: 1.1667rem;
              }
            }
            .menu-V2w {
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              display: flex;

              .rooms-3aF {
                font-weight: 500;
                line-height: 1.5;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.5167rem;
                font-size: 1.6rem;
              }
              .icon-arrow-down-kzT {
                margin-top: 0.0834rem;
                width: 1.1667rem;
                height: 0.5833rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .inspirations-519 {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .searchbar-zdu {
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 12.2622rem;
          box-sizing: border-box;
          padding: 1.2rem 27.2rem 1.2rem 1.533rem;

          .icon-search-KAP {
            width: 1.3333rem;
            height: 1.3333rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.533rem 0.1rem 0rem;
          }
          .placeholder-Rz7 {
            color: #606060;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .icons-vR5 {
          margin: 0.3rem 0rem 0.2rem 0rem;
          height: calc(100% - 0.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-5yyf-pWT {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.05rem 3.45rem 1.095rem 0rem;

            .icon-heart-7kT {
              margin: 0.071rem 3.462rem 0rem 0rem;
              width: 2.0756rem;
              height: 1.7849rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .icon-cart-38K {
              height: 1.85rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.0054rem;
              width: 2.05rem;
            }
          }
          .ellipse-2-a8F {
            height: 4rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:dc1748c7c9a9cc1158ec1f34860b53ee583176b0');
            border-radius: 2rem;
            flex-shrink: 0;
            width: 4rem;
          }
        }
      }
      .title-gBH {
        color: #3a3a3a;
        font-family: Gilroy, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 13.1rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        white-space: nowrap;
        text-align: center;
      }
    }
    .frame-11-A6T {
      position: absolute;
      left: 8.8rem;
      top: 41rem;
      display: flex;
      column-gap: 3.2rem;
      align-items: center;
      width: 123.6rem;
      height: 44.6rem;

      .featured-products-Fdh {
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-Pju {
          width: 28.5rem;
          height: 14.5rem;
          position: absolute;
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
        }
        .description-uCT {
          top: 31.7rem;
          width: 22.5rem;
          height: 9.9rem;
          position: absolute;
          left: 1.6rem;

          .product-name-RwV {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.8rem;

            .product-name-BQs {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
            }
            .sort-description-gsR {
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .frame-6-cWB {
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #3a3a3a;
          }
        }
        .images-WbZ {
          width: 28.5rem;
          height: 30.1rem;
          position: absolute;
          left: 0;
          background-image: url('REPLACE_IMAGE:I466:2227;29:50');
          background-position: center;
          box-sizing: border-box;
          padding: 2.4rem 2.4rem 2.4rem 21.3rem;
          top: 0;
          background-size: cover;
          background-repeat: no-repeat;

          .discount-DVy {
            background-color: #e97171;
            height: 4.8rem;
            font-weight: 500;
            font-family: Gilroy, 'Source Sans Pro';
            width: 100%;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #ffffff;
            border-radius: 2.4rem;
            margin-bottom: 20.5rem;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .featured-products-DPV {
        position: relative;
        flex-shrink: 0;
        width: 28.5rem;
        height: 100%;

        .bg-xM5 {
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
          width: 28.5rem;
          height: 14.5rem;
          position: absolute;
        }
        .description-2rj {
          left: 1.6rem;
          top: 31.7rem;
          width: 22.5rem;
          height: 9.9rem;
          position: absolute;

          .product-name-9RZ {
            margin-bottom: 0.8rem;
            display: flex;
            flex-direction: column;

            .product-name-JJT {
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 2.4rem;
            }
            .sort-description-SQf {
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .frame-6-Bd9 {
            line-height: 1.5;
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
          }
        }
        .images-vaj {
          top: 0;
          background-size: 100% 100%;
          background-position: center;
          width: 28.5rem;
          height: 30.1rem;
          position: absolute;
          left: 0;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:3c0a6c983f9e66e49766034d57360d64e957ff6a');
        }
      }
      .featured-products-nsq {
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-jo5 {
          width: 28.5rem;
          height: 14.5rem;
          position: absolute;
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
        }
        .description-giK {
          position: absolute;
          left: 1.6rem;
          top: 31.7rem;
          width: 23rem;
          height: 9.9rem;

          .product-name-Dy9 {
            margin-bottom: 0.8rem;
            display: flex;
            flex-direction: column;

            .product-name-P6w {
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2000000477;
            }
            .sort-description-hdR {
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .frame-6-e2s {
            align-items: center;
            width: 100%;
            display: flex;

            .fix-price-num {
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.7rem;
              font-size: 2rem;
            }
            .fix-price-Was {
              text-decoration-line: line-through;
              color: #b0b0b0;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
        .images-SzK {
          height: 30.1rem;
          left: 0;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:b67dedd59765b31b26fb533b95b7b43e636201e6');
          background-position: center;
          box-sizing: border-box;
          padding: 2.4rem 2.4rem 2.4rem 21.3rem;
          width: 28.5rem;
          position: absolute;
          top: 0;
          background-repeat: no-repeat;

          .discount-9dq {
            white-space: nowrap;
            border-radius: 2.4rem;
            height: 4.8rem;
            color: #ffffff;
            align-items: center;
            justify-content: center;
            background-color: #e97171;
            margin-bottom: 20.5rem;
            width: 100%;
            font-weight: 500;
            line-height: 1.5;
            font-family: Gilroy, 'Source Sans Pro';
            display: flex;
            font-size: 1.6rem;
          }
        }
      }
      .featured-products-jrw {
        position: relative;
        flex-shrink: 0;
        width: 28.5rem;
        height: 100%;

        .bg-gXH {
          height: 14.5rem;
          position: absolute;
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
          width: 28.5rem;
        }
        .description-cvj {
          width: 23.3rem;
          height: 9.9rem;
          position: absolute;
          left: 1.6rem;
          top: 31.7rem;

          .product-name-kn3 {
            margin-bottom: 0.8rem;
            display: flex;
            flex-direction: column;

            .product-name-uQ3 {
              margin-bottom: 0.8rem;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .sort-description-qYb {
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
            }
          }
          .frame-6-Yxo {
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .images-gp7 {
          width: 28.5rem;
          height: 30.1rem;
          position: absolute;
          top: 0;
          background-repeat: no-repeat;
          left: 0;
          background-size: 100% 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:01eefd24a8aa07432237436878715846cd38a35f');
        }
      }
    }
  }
  .auto-group-tajz-qaX {
    height: 146.6187rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 4.2rem;
    width: calc(100% - 4.2rem);

    .footer-ZWX {
      width: 144rem;
      height: 143.9771rem;
      position: absolute;
      left: 0;
      top: 2.6417rem;

      .bg-V9H {
        left: 0;
        top: 110.3771rem;
        background-color: #ffffff;
        width: 144rem;
        height: 33.6rem;
        position: absolute;
      }
      .stay-updated-qD9 {
        width: 29.2rem;
        height: 9rem;
        position: absolute;
        left: 100.5rem;
        top: 115.2771rem;

        .stay-updated-MxB {
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .searchbar-tx7 {
          width: 100%;
          height: 4.5rem;
          display: flex;
          align-items: center;

          .auto-group-djks-2Hd {
            font-weight: 400;
            color: #828282;
            white-space: nowrap;
            background-color: #f4f5f7;
            font-size: 1.6rem;
            box-sizing: border-box;
            padding: 1rem 1.2rem 1.1rem 1.2rem;
            width: 24.2rem;
            height: 100%;
            line-height: 1.5;
            font-family: Gilroy, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.4rem;
          }
          .auto-group-tvk3-JW3 {
            width: 4.6rem;
            height: 4.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .stay-connected-d2X {
        height: 14.9rem;
        position: absolute;
        left: 74.5rem;
        top: 115.2771rem;
        width: 16.5rem;

        .stay-connected-8EB {
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .facebook-eiK {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
        }
        .instagram-znB {
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
        }
        .twitter-XGK {
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      .account-UBZ {
        top: 115.2771rem;
        width: 8.5rem;
        height: 18.9rem;
        position: absolute;
        left: 57.2rem;

        .account-nxw {
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
        }
        .my-account-wL3 {
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
        }
        .checkout-gHd {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
        }
        .my-cart-26b {
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
        }
        .my-catalog-ZcK {
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
        }
      }
      .menu-ugB {
        width: 9.8rem;
        height: 22.9rem;
        position: absolute;
        left: 38.9rem;
        top: 115.2771rem;

        .menu-Sg7 {
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Gilroy, 'Source Sans Pro';
        }
        .products-aXR {
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
        }
        .rooms-j9R {
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
        }
        .inspirations-UMu {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.6rem;
        }
        .about-us-DaP {
          margin-bottom: 1.6rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
        }
        .terms-policy-kqD {
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
        }
      }
      .about-J63 {
        top: 0;
        width: 24.8rem;
        height: 138.9771rem;
        position: absolute;
        left: 6rem;

        .auto-group-dmqs-qbm {
          margin-bottom: 1.6rem;
          width: 100%;
          height: 134.9771rem;
          position: relative;

          .funiro-mkK {
            width: 7.6rem;
            position: absolute;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2575;
            color: #000000;
            white-space: nowrap;
            height: 3.1rem;
            left: 0;
            top: 115.2771rem;
            font-family: Gilroy, 'Source Sans Pro';
          }
          .worldwide-furniture-store-since-2020-we-sell-over-1000-branded-products-on-our-website-HCs {
            height: 7.2rem;
            line-height: 1.5;
            left: 0;
            top: 119.7771rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: #606060;
            font-family: Gilroy, 'Source Sans Pro';
            width: 24.8rem;
            position: absolute;
          }
          .group-18-kMM {
            top: 0;
            width: 21.7917rem;
            height: 130.9771rem;
            position: absolute;
            left: 0.2083rem;

            .pin-24px-V43 {
              margin-bottom: 127.6301rem;
              width: 1.5833rem;
              height: 0.947rem;
              object-fit: contain;
              vertical-align: top;
            }
            .sawojajar-malang-indonesia-23y {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #606060;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 2.5917rem;
            }
          }
          .group-17-LqM {
            left: 0.2083rem;
            top: 2.1512rem;
            width: 12.7917rem;
            height: 132.8259rem;
            position: absolute;

            .phone-24px-5H9 {
              height: 0.8257rem;
              object-fit: contain;
              vertical-align: top;
              margin-bottom: 129.6002rem;
              width: 1.5833rem;
            }
            .item-6289-456-3455-1gb {
              color: #606060;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 2.5917rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
        .wwwfunirocom-KxB {
          line-height: 1.5;
          color: #606060;
          font-family: Gilroy, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .vector-2-5Af {
        left: 6rem;
        top: 107.2771rem;
        object-fit: contain;
        vertical-align: top;
        width: 123.7rem;
        height: 0;
        position: absolute;
      }
      .frame-10-o6f {
        column-gap: 3.2rem;
        align-items: center;
        width: 123.6rem;
        height: 44.6rem;
        position: absolute;
        left: 8.4rem;
        top: 51.5583rem;
        display: flex;

        .featured-products-VkB {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 28.5rem;

          .bg-SQX {
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
          }
          .description-Noy {
            width: 22.5rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-hrF {
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;

              .product-name-4B1 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
              }
              .sort-description-YM5 {
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .frame-6-5M1 {
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
            }
          }
          .images-c63 {
            background-image: url('REPLACE_IMAGE:I466:2053;29:50');
            box-sizing: border-box;
            padding: 2.4rem 2.4rem 2.4rem 21.3rem;
            width: 28.5rem;
            height: 30.1rem;
            position: absolute;
            background-size: cover;
            left: 0;
            top: 0;
            background-repeat: no-repeat;
            background-position: center;

            .discount-WBR {
              margin-bottom: 20.5rem;
              width: 100%;
              line-height: 1.5;
              color: #ffffff;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              height: 4.8rem;
              font-size: 1.6rem;
              font-weight: 500;
              align-items: center;
              justify-content: center;
              display: flex;
              background-color: #e97171;
              border-radius: 2.4rem;
            }
          }
        }
        .featured-products-SUP {
          width: 28.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .bg-Z3D {
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
          }
          .description-5GT {
            width: 22.5rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-Mjm {
              display: flex;
              flex-direction: column;
              margin-bottom: 0.8rem;

              .product-name-6BZ {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
              }
              .sort-description-2L7 {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-6-9vX {
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              font-size: 2rem;
            }
          }
          .images-6Ky {
            width: 28.5rem;
            height: 30.1rem;
            left: 0;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:3c0a6c983f9e66e49766034d57360d64e957ff6a');
          }
        }
        .featured-products-9JF {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 28.5rem;

          .bg-6DV {
            top: 30.1rem;
            background-color: #f4f5f7;
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
          }
          .description-RWf {
            width: 23rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-MQK {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-W2K {
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .sort-description-qqH {
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 500;
              }
            }
            .frame-6-BeF {
              width: 100%;
              display: flex;
              align-items: center;

              .fix-price-LGF {
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                color: #3a3a3a;
              }
              .fix-price-4xw {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                text-decoration-line: line-through;
                color: #b0b0b0;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .images-ofd {
            box-sizing: border-box;
            padding: 2.4rem 2.4rem 2.4rem 21.3rem;
            width: 28.5rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:b67dedd59765b31b26fb533b95b7b43e636201e6');
            height: 30.1rem;
            position: absolute;
            left: 0;
            top: 0;

            .discount-VYT {
              display: flex;
              justify-content: center;
              width: 100%;
              font-weight: 500;
              white-space: nowrap;
              font-family: Gilroy, 'Source Sans Pro';
              align-items: center;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #ffffff;
              margin-bottom: 20.5rem;
              height: 4.8rem;
              background-color: #e97171;
              border-radius: 2.4rem;
            }
          }
        }
        .featured-products-WiT {
          flex-shrink: 0;
          width: 28.5rem;
          height: 100%;
          position: relative;

          .bg-f5Z {
            width: 28.5rem;
            height: 14.5rem;
            position: absolute;
            left: 0;
            top: 30.1rem;
            background-color: #f4f5f7;
          }
          .description-CbH {
            width: 23.3rem;
            height: 9.9rem;
            position: absolute;
            left: 1.6rem;
            top: 31.7rem;

            .product-name-LSb {
              margin-bottom: 0.8rem;
              display: flex;
              flex-direction: column;

              .product-name-5uy {
                margin-bottom: 0.8rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2000000477;
                color: #3a3a3a;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .sort-description-1Yj {
                font-weight: 500;
                line-height: 1.5;
                color: #898989;
                font-family: Gilroy, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
              }
            }
            .frame-6-xD5 {
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
            }
          }
          .images-5oV {
            left: 0;
            height: 30.1rem;
            position: absolute;
            top: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:01eefd24a8aa07432237436878715846cd38a35f');
            width: 28.5rem;
          }
        }
      }
    }
    .frame-9-nT1 {
      height: 44.6rem;
      position: absolute;
      left: 9.4rem;
      top: 0;
      display: flex;
      column-gap: 3.2rem;
      align-items: center;
      width: 123.6rem;

      .featured-products-JgF {
        position: relative;
        flex-shrink: 0;
        width: 28.5rem;
        height: 100%;

        .bg-3tj {
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
          width: 28.5rem;
          height: 14.5rem;
          position: absolute;
        }
        .description-zZ5 {
          width: 22.5rem;
          height: 9.9rem;
          position: absolute;
          left: 1.6rem;
          top: 31.7rem;

          .product-name-8QP {
            margin-bottom: 0.8rem;
            display: flex;
            flex-direction: column;

            .product-name-H2P {
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 2.4rem;
            }
            .sort-description-oFd {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
            }
          }
          .frame-6-LWT {
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .images-g4X {
          position: absolute;
          left: 0;
          top: 0;
          background-size: cover;
          background-position: center;
          box-sizing: border-box;
          width: 28.5rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:I466:1552;29:50');
          padding: 2.4rem 2.4rem 2.4rem 21.3rem;
          height: 30.1rem;

          .discount-nNT {
            display: flex;
            justify-content: center;
            color: #ffffff;
            font-family: Gilroy, 'Source Sans Pro';
            border-radius: 2.4rem;
            margin-bottom: 20.5rem;
            font-size: 1.6rem;
            font-weight: 500;
            align-items: center;
            background-color: #e97171;
            width: 100%;
            height: 4.8rem;
            line-height: 1.5;
            white-space: nowrap;
          }
        }
      }
      .featured-products-bKu {
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-8qd {
          width: 28.5rem;
          height: 14.5rem;
          position: absolute;
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
        }
        .description-Gwq {
          width: 22.5rem;
          height: 9.9rem;
          position: absolute;
          left: 1.6rem;
          top: 31.7rem;

          .product-name-owm {
            margin-bottom: 0.8rem;
            display: flex;
            flex-direction: column;

            .product-name-MyH {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
            }
            .sort-description-gEs {
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .frame-6-ceK {
            white-space: nowrap;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
          }
        }
        .images-wwV {
          top: 0;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:3c0a6c983f9e66e49766034d57360d64e957ff6a');
          width: 28.5rem;
          height: 30.1rem;
          position: absolute;
          left: 0;
        }
      }
      .featured-products-2CF {
        position: relative;
        flex-shrink: 0;
        width: 28.5rem;
        height: 100%;

        .bg-Zxs {
          width: 28.5rem;
          height: 14.5rem;
          position: absolute;
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
        }
        .description-umq {
          left: 1.6rem;
          top: 31.7rem;
          width: 23rem;
          height: 9.9rem;
          position: absolute;

          .product-name-Smm {
            margin-bottom: 0.8rem;
            display: flex;
            flex-direction: column;

            .product-name-z2b {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
            }
            .sort-description-ijH {
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .frame-6-3mZ {
            width: 100%;
            display: flex;
            align-items: center;

            .fix-price-1Cb {
              flex-shrink: 0;
              margin-right: 2.7rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
            }
            .fix-price-juH {
              text-decoration-line: line-through;
              color: #b0b0b0;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
        .images-UM5 {
          top: 0;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:b67dedd59765b31b26fb533b95b7b43e636201e6');
          box-sizing: border-box;
          width: 28.5rem;
          position: absolute;
          background-size: 100% 100%;
          background-position: center;
          padding: 2.4rem 2.4rem 2.4rem 21.3rem;
          height: 30.1rem;
          left: 0;

          .discount-NST {
            height: 4.8rem;
            font-weight: 500;
            justify-content: center;
            color: #ffffff;
            font-family: Gilroy, 'Source Sans Pro';
            align-items: center;
            font-size: 1.6rem;
            line-height: 1.5;
            white-space: nowrap;
            background-color: #e97171;
            border-radius: 2.4rem;
            margin-bottom: 20.5rem;
            width: 100%;
            display: flex;
          }
        }
      }
      .featured-products-Dhy {
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-MpB {
          left: 0;
          top: 30.1rem;
          background-color: #f4f5f7;
          width: 28.5rem;
          height: 14.5rem;
          position: absolute;
        }
        .description-uKu {
          position: absolute;
          left: 1.6rem;
          top: 31.7rem;
          width: 23.3rem;
          height: 9.9rem;

          .product-name-phm {
            flex-direction: column;
            margin-bottom: 0.8rem;
            display: flex;

            .product-name-Amd {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2000000477;
              color: #3a3a3a;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
            }
            .sort-description-6fH {
              color: #898989;
              font-family: Gilroy, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .frame-6-EWb {
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #3a3a3a;
            font-family: Gilroy, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .images-mmR {
          width: 28.5rem;
          height: 30.1rem;
          position: absolute;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:01eefd24a8aa07432237436878715846cd38a35f');
          left: 0;
          top: 0;
          background-size: 100% 100%;
          background-position: center;
        }
      }
    }
  }
}
